{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Menu Boissons</title>
        <link rel="stylesheet" href="{% static 'styl_add_u.css' %}">
    </head>
</head>
<body>
    <div id="popup">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Creer votre compte</div>
    
                    <div class="card-body">
                        <form method="POST" action="">     
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="email">Nom</label>
                                <input id="" type="" class="form-control" name="nom_util" value=""  autofocus>
                            </div>
                    
                            <div class="form-group">
                                <label for="password">Prenom</label>
                                <input id="" type="" class="form-control" name="prenom_util" >
                            </div>
                            <div class="form-group">
                                <label for="email">Mot de passe</label>
                                <input id="" type="" class="form-control" name="pass_util" value=""  autofocus>
                            </div>
                    
                            <div class="form-group">
                                <label for="password">Adress_email</label>
                                <input id="" type="" class="form-control" name="mail_util" >
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">
                                    valider
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
     </div>
</body>
</html>