{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" href="{% static 'formulaireChange.css' %}">
    </head>
</head>
<body>
    <div id="popup">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Edite Admin</div>
    
                    <div class="card-body">
                        <form method="POST" action="{% url 'changeAd'  %}">
                        
                           {% csrf_token %}
                           <input type="hidden" name="id_ad" value="{{data.pk}}">
                            <div class="form-group">
                                <label for="email">Nom</label>
                                <input id="" type="" class="form-control" name="nom_ad" value="{{data.nom_ad}}"  autofocus>
                            </div>
                    
                            <div class="form-group">
                                <label for="password">Prenom</label>
                                <input id="" type="" class="form-control" name="prenom_ad" value="{{data.prenom_ad}} ">
                            </div>
                            <div class="form-group">
                                <label for="email">Mot de passe</label>
                                <input id="" type="" class="form-control" name="pass_ad" value="{{data.pass_ad}} "  autofocus>
                            </div>
                    

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">
                                    valider
                                </button>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
     </div>
</body>
</html>